*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container{
    display: flex;
    flex-direction: column;
    border: solid black;
    height: 700px;
    width: 700px;
   
}



#rowDiv{
flex: 1;
display: flex;
} 

#block{
    flex: 1;

border: 1px solid black;
}